.hamburgermenu {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;

  &-title {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fdd835;
    padding: 0.25em;

    a {
      text-decoration: none;
      color: #262626;
    }
    p {
      font-size: 18px;
      font-weight: 600;
      letter-spacing: 2px;
    }
  }

  &-socials {
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    padding-bottom: 2em;
  }
}
