/* Font Imports */

/* Bitter */
@import url("https://fonts.googleapis.com/css?family=Bitter&display=swap");

/* Scope One */
@import url("https://fonts.googleapis.com/css?family=Scope+One&display=swap");

/* Nunito - sans serif font */
@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

html,
body {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

/* HEADER */
.navigation {
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  position: fixed;
  z-index: 999;
  width: 100%;
}

.navigation .logo {
  margin: 10px 30px;
}

.navigation .logo img {
  width: 200px;
  margin: 10px;
}

/* NAVIGATION */
.navigation-links li {
  display: inline-block;
  cursor: pointer;
  font-family: "Nunito", "Noto Sans JP", sans-serif;
  font-size: 14px;
}

.navigation-links a {
  padding: 10px 20px;
  display: block;
  margin: 0 20px;
}

.navigation-links a:hover {
  border-bottom: 2px #edae49 solid;
}

.navigation-links {
  margin: 0px;
}

/* LANDING */

.landing {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #9ac9e6;

  color: white;
  position: relative;
  z-index: 1;
  text-align: center;
}

.landing--content {
  margin: 0;
  padding: 0;
  text-align: center;
  max-width: 650px;
}

.landing--content h1 {
  font-family: "Bitter", serif;
  color: #d1495b;
  text-shadow: 0 0 6px #ffffff;
}

.landing--content h3 {
  font-family: "Scope One", serif;
  color: #1b2845;
  text-shadow: 0 0 2px #ffffff;
}

.landing--content h4 {
  font-family: "Scope One", serif;
  color: #1b2845;
  text-shadow: 0 0 2px #ffffff;
}

.landing--content .experience-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.landing--content .experience-items .experience-single {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.landing--content .experience-items .experience-single h3 {
  max-width: 300px;
}

.landing--content .experience-items .project-image {
  height: 200px;
  margin: 40px 10px;
}

.landing--content .experience-items .project-image:hover {
  opacity: 0.8;
  cursor: pointer;
}

/* DESCRIPTION */

/* FOOTER */
.footer {
  margin-top: -10px;
  left: 0px;
  bottom: 0px;
  height: 80px;
  width: 100%;
  background: #1b2845;
  text-align: center;
  padding-left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.footer li {
  display: inline-block;
  margin: 0px 35px;
  cursor: pointer;
  font-family: "Nunito", "Noto Sans JP", sans-serif;
}

.footer .links {
  margin: 0;
}

.footer .links a {
  color: #9ac9e6;
  padding: 10px;
  display: block;
  text-decoration: none;
}

.footer .links a:hover {
  color: #edae49;
}
