.imagegroup {
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5em;
  margin-bottom: 2em;

  @media (min-width: 768px) {
    flex-direction: row;
    width: 95vw;
  }
}
