.footer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #262626;
  opacity: 0.9;
  color: #fff;
  padding-top: 2em;
  padding-bottom: 2em;
}
