.socials {
  display: flex;
  flex-direction: row;
}

.socials-item {
  width: auto;
  font-weight: 600;
  text-decoration: none;
  color: #fdd835;
  margin: 10px;

  div {
    padding: 10px 20px;
    border: 2px solid #fdd835;
    border-radius: 50px;
  }
}

.socials-item:hover {
  color: #262626;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;

  div:hover {
    background: #fdd835;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
  }
}
